<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spelling App</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/module.css">
    <link rel="stylesheet" href="/css/play.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>

<body class="container">

    <nav id="navbar">
        <h1>Spelling App</h1>

        <ul id="nav-menu">
            <li><a href="#">Login</a></li>
            <li><a href="#">Favorites</a></li>
            <li><a href="#">Custom Sets</a></li>
        </ul>
    </nav>