<nav id="navbar">
    <h1>Spelling App</h1>
    <ul id="nav-menu">
        <% if(locals.user) {%>
            <li>
                <%= locals.user.username %>
            </li>
            <% } %>
                <li><a href="/">Home</a></li>
                <li><a href="/custom">Custom Words</a></li>
                <% if(locals.user) { %>
                    <li><a href="/signout">Sign Out</a></li>
                    <% } else { %>
                        <li><a href="/login">Login</a></li>

                        <% } %>%>
    </ul>
</nav>