<%- include('partials/header'); -%>
    <%- include('partials/navbar'); -%>
        <section id="favorites">
            <div class="favorites-container">
                <div class="favorites-menu">
                    <ul>

                    </ul>
                </div>

                <div class="favorites-form">
                    <h2>Current Word</h2>

                    <form action="">

                    </form>
                </div>
            </div>
        </section>



        <%- include('partials/footer'); -%>