<%- include('partials/header'); -%>

    <form id="login" class="login-signup">
        <h1><a href="/">Speller</a></h1>
        <h2>Login</h2>


        <input id="email" type="email" placeholder="Enter Email Address">
        <input id="password" type="password" placeholder="Enter Password">


        <button type="submit">Login</button>

        <a class="link" href="/signup">Create an account</a>
    </form>

    <script src="/js/loginSignup.js"></script>

    <%- include('partials/footer'); -%>