<%- include('partials/header'); -%>

    <form id="signup" class="login-signup">
        <h1><a href="/">Speller</a></h1>
        <h2>Sign Up</h2>

        <input id="username" type="text" placeholder="Enter Username">
        <input id="email" type="email" placeholder="Enter Email Address">
        <input id="password" type="password" placeholder="Enter Password">


        <button type="submit">Sign Up</button>

        <a class="link" href="/login">Login to your account</a>
    </form>

    <script src="/js/loginSignup.js"></script>

    <%- include('partials/footer'); -%>