
/*Navbar*/
#navbar {
    position: relative;
    color: #fff;
    padding-top: 20px;
}

#navbar h1 {
    position: absolute;
    width: 100%;
    top: 20px;
    left: 0;
    text-align: center;
    font-size: 50px;
}

#navbar #nav-menu {
    display: flex;
    justify-content: flex-end;
    position: relative;
    z-index: 1;
}

#navbar #nav-menu li {
    margin: 10px;
    font-size: 20px;
}

#navbar #nav-menu li:first-of-type {
    margin-left: 0;
}

.container {
    margin: 0 30px;
}

.login-signup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 20px;
    padding: 20px 15px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

.login-signup h1 {
    font-size: 35px;
    color: #25A4E7;
    margin-bottom: 15px;
}

.login-signup h2 {
    font-size: 26px;
    color: #25A4E7;
    margin-bottom: 15px;
}

.login-signup input {
    border-radius: 7px;
    margin: 10px 0;
    padding: 7px 9px;
    border: 1px solid lightgray;
    width: 100%;
}

.login-signup button {
    background-color: #25A4E7;
    outline: none;
    padding: 10px 25px;
    border-radius: 7px;
    color: #fff;
    border: 0;
    margin: 20px 0;
    font-size: 18px;
}

.login-signup .link {
    color: #25A4E7;
    text-decoration: underline;
    font-size: 18px;
}